version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - '80:80'
      - '443:443'
    networks:
      - app_network

  nextjs:
    build: .
    image: my-nextjs-app:latest
    container_name: nextjs
    expose:
      - '3000'
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
