version: '3.8'

services:
  nginx:
    volumes:
      - /etc/letsencrypt/live/info-o-vozidlech/fullchain.pem:/etc/nginx/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/info-o-vozidlech/privkey.pem:/etc/nginx/certs/privkey.pem:ro
