version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html:rw
      # - /etc/letsencrypt:/etc/letsencrypt:rw
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - '80:80'
      - '443:443'
    networks:
      - app_network

  nextjs:
    build: .
    image: nextjs-image:latest
    container_name: nextjs
    restart: always
    networks:
      - app_network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/health']
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - app_network

  postgrest:
    image: postgrest/postgrest:latest
    container_name: postgrest
    restart: always
    depends_on:
      - postgres
    environment:
      PGRST_DB_URI: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      PGRST_DB_SCHEMA: public
      PGRST_DB_ANON_ROLE: web_anon
      PGRST_SERVER_PORT: 5000
      PGRST_OPENAPI_SERVER_PROXY_URI: http://localhost:5000
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
